
<h1>Burgers</h1>


<div>
  {{#each array}}
    {{@index}}:{{this}}
  {{/each}}
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="create-form">
      <div class="form-group">
        <input type="text" id="burgerName" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>
